version: "3.8"

services:
  db:
    image: postgres:16
    container_name: pr-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: prservice
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5

  app:
    build: .
    container_name: pr-app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_DSN: postgres://postgres:postgres@db:5432/prservice?sslmode=disable
    ports:
      - "8080:8080"
